<app-app-header></app-app-header>
&nbsp;
<app-trip-types></app-trip-types>
<!-- <app-interpolation></app-interpolation>
<app-stuctural-directive></app-stuctural-directive>
<app-ng-switch-demo></app-ng-switch-demo>
<app-ng-switch-fruit-demo></app-ng-switch-fruit-demo>
<app-attribute-directive-demo><app-attribute-directive-demo> 

    <p appDKCustomeDirective> My Custome Directive</p>
    <app-ng-model-two-way-data-binding-demo></app-ng-model-two-way-data-binding-demo>-->

    
         <!-- <a [routerLink]="['/aboutus']">aboutus</a><br>
         <a [routerLink]="['/contactus']">contactus</a>  -->
        <router-outlet> </router-outlet> 